[Unit]
Description=Currency Cat App

[Service]
User=dave
Restart=on-failure
ExecStart=/home/dave/go/src/github.com/nepdave/currencycat/currencycat.sh

[Install]
WantedBy=multi-user.target
